.dropdown-container {
    position  : absolute;
    top       : 0;
    left      : 0;
    padding   : 10px 20px;
    margin-top: 90px;
    z-index   : 999;
}

.interface {
    display: none;
}

.custom-dropdown {
    background-color: #333;
    color           : white;
    border          : none;
    font-weight     : bold;
    padding         : 10px 20px;
}

.custom-dropdown:hover {
    background-color: #555;
}

.custom-dropdown:focus {
    box-shadow: none;
}

.interface.visible {
    display: block;
}

