.match-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px 10px 25px;
    border: 2px solid #000;
    margin: 15px;
    border-radius: 5px;
    background-color: rgb(5 4 98);
}

.match-info{
    padding-right: 5%;
    align-items: unset;
    line-height: 2.2;
    position: relative;
    flex-direction: column;
    justify-content: unset;
    flex: 0 0 35%;
    margin-bottom: 0;
}

.team1-match-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team2-match-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-between
{
    padding-right: 5%;
    align-items: unset;
    line-height: 2.2;
    position: relative;
    flex-direction: column;
    justify-content: unset;
    flex: 0 0 35%;
    margin-bottom: 0;
}

.to-scorecard{
    padding-right: 5%;
    align-items: unset;
    line-height: 2.2;
    position: relative;
    flex-direction: column;
    justify-content: unset;
    flex: 0 0 29%;
    margin-bottom: 0;
}

.scoreCardButton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 24px; /* Increase padding for better visual appearance */
    color: white;
    border: 2px solid #4CAF50; /* Add a border */
    border-radius: 8px; /* Add rounded corners */
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    text-transform: uppercase; /* Convert text to uppercase */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add smooth transition effects */
    width: 40%;
    margin-left: 145px;
}

/* Hover effect */
.scoreCardButton:hover {
    background-color: #45a049; /* Darker green */
    border-color: #45a049;
}

/* Active (clicked) state */
.scoreCardButton:active {
    background-color: #367b3f; /* Darker shade of green */
    border-color: #367b3f;
}

span{
    color: white;
    font-weight: bold;
}

