/* FILEPATH: /c:/Users/User/OneDrive - BUET/BOOKS 2-1/CSE-215/DBMS-Project/CRICTOUR/frontend/src/assets/CSS/nav.css */

.navbar {
  background-color: #0b3bfa;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-right: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.navbar ul li a:hover {
  color: #007bff;
}
