/* FILEPATH: /d:/DBMS_Project/DBMS-Project/CRICTOUR/frontend/src/CSS/players.css */
.container>h1 {
    text-align: center;
}

body {
    height: 1700px;
}

.container {
    margin-top: 20px;
}

.player-container {
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : row;
    /* Align items along the x-axis */
    justify-content: center;
}

.player-box {
    width           : 227px;
    height          : 300px;
    margin          : 25px;
    /* Adjust the margin */
    padding         : 20px;
    background-color: #f2f2f2;
    border-radius   : 10px;
    text-align      : center;
    background-color: rgb(5 4 98);
}

/* Add a media query to change the margin when the screen size is smaller */
@media screen and (max-width: 992px) {
    .player-box {
        margin: 10px 5px;
        /* Adjust the margin for smaller screens */
    }
}

.player-box>p {
    font-weight: bold;
    color      : rgb(255, 255, 255);
}

.player-name {
    font-size    : 18px;
    font-weight  : bold;
    margin-bottom: 10px;
}

.player-flag {
    width        : 100px;
    height       : 100px;
    margin       : 0 auto;
    border-radius: 50%;
    object-fit   : cover;
}

.profileButton {

    margin-top   : 130px;
    border-radius: 5px;
    width        : fit-content;
    height       : 38px;

}