.top-stats-show{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 20px); /* Decreasing width by 10px from both left and right sides */
    height: auto;
    padding: 0;
    margin: 0 10px; /* Adding 10px margin on both left and right sides */
    background-color: #ffffff;
    margin-bottom: 35px;
    box-shadow: rgb(147 147 147) 0px 0px 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
}

.top-five-batsman,.top-five-allrounder,.top-strike-rate,.most-six,.most-four,.economy-rate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    margin-bottom: 15px;
    box-shadow: rgb(147 147 147) 0px 0px 10px;
}

.top-five-bowler{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    margin-bottom: 15px;
    box-shadow: rgb(147 147 147) 0px 0px 10px;
}

tr{
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-bordered tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-bordered tbody tr:nth-child(odd) {
    background-color: #fff;
}

.table-bordered tbody tr:last-child td {
    border-bottom: 1px solid #ddd;
}

.table-bordered thead th {
    background-color: #f2f2f2;
    border-top: 2px solid #ddd;
}

.headline{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #00175F;
  width: 248.78%;
  padding-bottom: 10px;
}

.headline h2{
    font-size: 25px;
}

.top-five-bowler .headline{
    width: 272.3%;
}

.top-five-allrounder .headline{
    width: 266%;
}

.top-strike-rate .headline{
    width: 227.5%;
}

.most-four .headline{
    width: 227.8%;
}

.most-six .headline{
    width: 225%;
}

.economy-rate .headline{
    width: 455%;
}
