/* FILEPATH: /d:/DBMS_Project/DBMS-Project/CRICTOUR/frontend/src/CSS/teams.css */
.container>h1 {
  text-align: center;
}

body {
  /* height: auto; */
}

.container {
  margin-top: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Align items along the x-axis */
    justify-content: center;
  }

.team-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 25px; /* Adjust the margin */
  /* padding: 20px; */
  background-color: #f2f2f2;
  text-align: center;
  /* background-color: #00175F; */
  box-shadow: black 5px 10px 10px;
   /* Use the pulse animation */
}

  .team-box>p{
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .team-box span{
    color: rgb(255, 255, 255);
  }
  
  .team-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .team-flag {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
  }

.profileButtons {
  border-radius: 5px;
  width        : fit-content;
  height       : 38px;

}

.teamProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}