.team-basic-info
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Align items along the x-axis */
    justify-content: space-between;
    margin-bottom: 25px;
}

.captain-name{
  display: flex;
  flex-direction: column;
  width: 227px;
  height: 300px;
  margin: 25px; /* Adjust the margin */
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
  background-color:#ffffff;
  box-shadow: black 5px 10px 10px;
  margin-bottom: 0px;
}

.coach-name
{
  display: flex;
  flex-direction: column;
  width: 227px;
  height: 300px;
  margin: 25px 0; /* Adjust the margin */
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: black 5px 10px 10px;
  margin-bottom: 0px;
}

p{
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.td-team-box
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 290px;
    height: 350px;
    margin: 25px 0; /* Adjust the margin */
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: black 5px 10px 10px;
    margin-bottom: 0px;
}

.td-team-box span, .captain-name span, .coach-name span{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.spacer-text {
    position: absolute;
    top: 0;
    left: calc(24% - 50px);
    width: 288px;
    font-weight: bold;
    margin-top: 73px;
    height: 180px;
}

.captain{
    position: absolute;
    margin-top: 245px;
    font-size: 30px;
    text-align: center;
}

.player-info
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Align items along the x-axis */
    justify-content: center;
}

h1{
    text-decoration: underline;
    /* text-shadow: rgb(5 4 98) 2px 2px 2px; */
    color: solid red;
}

.player-infto-team-box
{
    display: flex;
    flex-direction: column;
    width: 227px;
    height: 300px;
    margin: 25px; /* Adjust the margin */
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: black 5px 10px 10px;
    margin-bottom: 0px;
}

.player-infto-team-box span{
    color: rgb(0, 0, 0);
}

.playerName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
}

.player-infto-team-box img
{
    /* width: 121%;
    height: 100%;
    display: block;
    margin-top: -18px;
    border-radius: 10px;
    margin-left: -20px; */
}

.type-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #00175F;
    height: 60px;
    padding: 0 10px;
    width: 100%;
}

.type-name span{
    color: white;
    font-size: 30px;
    padding-left: 25px;
}

Link{
    text-decoration: none;
}

