<% extends('base.ejs') %>

<% block('title', '') %>
<% block('head') %>
<% endblock('head') %>
<style>
  body {
    background-color: black;
    color: blue;
    font-size: 30px;
  }
</style>
<% block('body') %>
<center>
  <h1>Welcome :-)</h1>
</center>
<% endblock('body') %>
