{% extends "base.html" %}

{% block title %}
Add Player Page
{% endblock title %}

{% block head %}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }

    button {
        background-color: #4caf50;
        width: 25%;
        padding: 15px;
        color: black;
        border: none;
        float: center;
        font-size: 15px;
    }

    label {
        font-size: 20px;
    }

    form {
        border: 3px solid #f1f1f1;
    }

    input[type="email"],
    input[type="text"] {
        width: 50%;
        font-size: 15px;
        margin: 8px 0px;
        padding: 12px 20px;
        display: inline-block;
        border: 2px solid green;
        box-sizing: border-box;
    }

    input[type="radio"] {
        height: 18px;
        width: 18px;
    }

    button:hover {
        opacity: 0.7;
    }

    .container {
        padding: 50px;
        background-color: white;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 10%;
        border-radius: 50%;
    }
</style>
{% endblock head %}

{% block body %}
<center>
    <h1>Player Addition</h1>
</center>
<form action="#" method="post">
    {% csrf_token %} {% load static %}
    <center>
        <div class="container">
            <div class="imgcontainer">
                <img src="{% static 'sign.jpg' %}" alt="Avatar" class="avatar" />
            </div>
            <label for="first_name"><b>First Name : </b></label>
            <input type="text" placeholder="Enter your first name" name="first_name" required /><br />
            <label for="last_name"><b>Last Name :</b></label>
            <input type="text" placeholder="Enter your last name" name="last_name" required /><br />
            <label for="age"><b>Age : </b></label>
            <input type="number" placeholder="Enter age" name="age" float="right" required /><br />
            <label for="nation"><b>Nationality :</b></label>
            <input type="text" placeholder="Enter Nationality" name="nation" required /><br />
            <label for="joindate"><b>Join date : </b></label>
            <input type="date" placeholder="Enter join date" name="joindate" required /><br />
            <label for="playingstate"><b>Playing State : </b></label>
            <input type="radio" name="playingstate" value="batter" required />
            <label><b>Batter</b></label>
            <input type="radio" name="playingstate" value="bowler" required />
            <label><b>Bowler</b></label><br />
            <button type="submit"><b>Add Player</b></button><br />
        </div>
    </center>
</form>
{% endblock body %}
