{% extends "base.html" %}

{% block title %}
    Admin Page
{% endblock title %}

{% block head %}
<style>
    .scs {
        width: 1em;
        height: width;
        padding-left: 0.25em;
        padding-right: 0.25em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        color: black;
        opacity: 0.5;
    }
</style>
{% endblock head %}

{% block body %}
<center>
    <div class="btn-group container scs">
        <a href="http://localhost:8000/signup/"
            class="btn btn-primary active" aria-current="page">Add</a>
        <a href="http://localhost:8000/delete/"
            class="btn btn-primary active"
            aria-current="page">Delete</a>
        <a href="http://localhost:8000/update/"
            class="btn btn-primary active"
            aria-current="page">Update</a>
    </div>
</center>
{% endblock body %}

{% comment %} <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Page</title>
        <style>
        .scs {
            width: 1em;
            height: width;
            padding-left: 0.25em;
            padding-right: 0.25em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
            color: black;
            opacity: 0.5;
        }
    </style>
    </head>

    <body>
        <center>
            <h1>Admin</h1>
        </center>
        <center>
            <div class="btn-group container scs">
                <a href="http://localhost:8000/signup/"
                    class="btn btn-primary active" aria-current="page">Add</a>
                <a href="http://localhost:8000/delete/"
                    class="btn btn-primary active"
                    aria-current="page">Delete</a>
                <a href="http://localhost:8000/update/"
                    class="btn btn-primary active"
                    aria-current="page">Update</a>
            </div>
        </center>
    </body>

</html> {% endcomment %}
