{% extends "base.html" %}

{% block title %}
Account Update
{% endblock title %}

{% block head %}
<style>
    .center {
        text-align: center;
        list-style-position: inside;
    }
</style>
{% endblock head %}

{% block body %}
<center>
    <h1>Account Update</h1>
</center>
<form action = "#" method="post">
    {% csrf_token %} {% load static %}
    <center>
        <div class="container">
            <ol class="list-group center">
                <li class="list-group-item list-group-item-dark">ID</li>
                <li class="list-group-item list-group-item-dark">First name</li>
                <li class="list-group-item list-group-item-dark">Last name</li>
                <li class="list-group-item list-group-item-dark">Sex</li>
                <li class="list-group-item list-group-item-dark">Email</li>
                <li class="list-group-item list-group-item-dark">Password</li>
            </ol>
            <label for="id"><b>Account Id which you want to change : </b></label>
            <input type="number" placeholder="Enter id" name="id" /><br /><br />
            <label for="slno"><b>Enter number which you want to update : </b></label>
            <input type="number" placeholder="Enter number" name="slno" /><br /><br>
            <label for="value"><b>Enter updated value : </b></label>
            <input type="text" placeholder="Enter value" name="value" /><br /><br />
            <button type="submit"><b>Update</b></button><br />
        </div>
    </center>
</form>
{% endblock body %}

{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Update</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        .center {
            text-align: center;
            list-style-position: inside;
        }
    </style>
</head>

<body>
    <center>
        <h1>Account Update</h1>
    </center>
    <form action = "#" method="post">
        {% csrf_token %} {% load static %}
        <center>
            <div class="container">
                <ol class="list-group center">
                    <li class="list-group-item list-group-item-dark">ID</li>
                    <li class="list-group-item list-group-item-dark">First name</li>
                    <li class="list-group-item list-group-item-dark">Last name</li>
                    <li class="list-group-item list-group-item-dark">Sex</li>
                    <li class="list-group-item list-group-item-dark">Email</li>
                    <li class="list-group-item list-group-item-dark">Password</li>
                </ol>
                <label for="id"><b>Account Id which you want to change : </b></label>
                <input type="number" placeholder="Enter id" name="id" /><br /><br />
                <label for="slno"><b>Enter number which you want to update : </b></label>
                <input type="number" placeholder="Enter number" name="slno" /><br /><br>
                <label for="value"><b>Enter updated value : </b></label>
                <input type="text" placeholder="Enter value" name="value" /><br /><br />
                <button type="submit"><b>Update</b></button><br />
            </div>
        </center>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html> {% endcomment %}